.reveal h1 {
  font-size: 2.9em;
}

.reveal .big {
  font-size: 2.9em;
}

.reveal .inline-h2 {
  font-size: 2.11em;
  font-family: 'Montserrat', Impact, sans-serif;
}

.reveal .inline-h3 {
  font-size: 1.55em;
  font-family: 'Montserrat', Impact, sans-serif;
}

.reveal ul.no-bullets {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.reveal pre code.tall {
  max-height: 600px;
  /*font-size: 12px;*/
  line-height: 1.25em;
}

.reveal img.overlaid {
  border: none;
  background: none;
}

.reveal .smaller-text {
  font-size: smaller;
}